<nz-drawer [nzClosable]="true" [nzVisible]="(isAvatarSelectionScreenVisible$ | async)!" nzPlacement="bottom"
  nzHeight="calc(100% - 64px)" (nzOnClose)="close()">
  <ng-container *nzDrawerContent>
    <div nz-row>
      <div nz-col nzXs="12" nzMd="8" nzLg="6" nzXl="4" *ngFor="let avatarId of avatarIds">
        <div nz-row nzAlign="middle" nzJustify="center">
          <div nz-col>
            <img src="assets/avatars/{{avatarId}}.png" alt="{{avatarId}}" class="avatar"
              (click)="onAvatarSelection(avatarId)">
          </div>
        </div>
      </div>
    </div>
  </ng-container>
</nz-drawer>
