<header class="shadow px-4 d-flex align-items-center justify-content-center">
  <div class="d-flex align-items-center back-button" [ngClass]="{'disabled': isHeaderNavigationButtonEnabled}">
    <span class="material-icons" [ngClass]="{'d-none': !isNavigateBackwardButtonVisible()}"
      (click)="onClickNavigateButton()">
      arrow_back_ios_new
    </span>
  </div>
  <app-logo class="flex-grow-1 text-center"></app-logo>
  <div class="d-flex align-items-center justify-content-end more-button"
    [ngClass]="{'disabled': isHeaderNavigationButtonEnabled}">
    <span class="material-icons" [ngClass]="{'d-none': !isNavigateForwardButtonVisible()}"
      (click)="onClickNavigateButton()">
      arrow_forward_ios
    </span>
    <span class="material-icons" [ngClass]="{'d-none': !isOpenProfileSettingsButtonVisible()}"
      (click)="onClickNavigateButton()">
      settings
    </span>
  </div>
</header>
