@use "sass:color";
@use '../../../assets/styles/variables';

header {
  width: 100%;
  height: 100%;
  background-color: color.scale(variables.$primary-color, $lightness: -50%);
  z-index: 1;
}

.back-button, .more-button {
  color: #fff;
  cursor: pointer;
  width: 4rem;
}
