<div nz-row class="page-container">
  <div nz-col nzXs="24" nzMd="12" nzLg="12" nzXl="12">
    <div nz-row class="h-100" nzAlign="middle" nzJustify="center">
      <div nz-col>
        <div class="card">
          <img src="assets/CreateRoom.png" alt="Create Room">
          <button class="special-button mt-3">Create Room</button>
        </div>
      </div>
    </div>
  </div>
  <div nz-col nzXs="24" nzMd="12" nzLg="12" nzXl="12">
    <div nz-row class="h-100" nzAlign="middle" nzJustify="center">
      <div nz-col>
        <div class="card">
          <img src="assets/JoinRoom.png" alt="Join Room">
          <button class="special-button mt-3">Join Room</button>
        </div>
      </div>
    </div>
  </div>
</div>
