@use "sass:color";
@use '../../../assets/styles/variables';

:host {
  display: inline-block;
}

button {
  width: 100%;
  padding: 0.6rem;
  background-color: variables.$primary-color;
  border: none;
  color: #fff;
  border-radius: 0.6rem;
  font-family: Roboto;
  font-size: 1.6rem;
}

.disabled {
  background-color: color.scale(variables.$primary-color, $lightness: 50%);
}
